{% extends 'base.html.twig' %}

{% block title %}article1{% endblock %}

{% block body %}


  <div class="row">
        <div class="col-8 mx-auto p-4">
        <h1 class="section_subtitle titre_presetation1 fs-1  ">Comment prendre de la masse musculaire ?</h1>
<br>
<h3>Qu’est ce qu’une prise de masse?</h3>
<p>Comme son nom l’indique une prise de masse est une période de l’année (quelques mois) ou votre objectif sera de construire du muscle et de la masse. Pour ceci, il va falloir une nutrition et un training adapté.

En prise de masse votre apport calorique journalier doit être supérieur à vos dépenses énergétiques. Vous allez donc manger beaucoup plus que d’habitude, vous allez notamment augmenter vos apports en glucides et lipides consommés journalièrement.

Vous allez donc prendre du muscle mais aussi du gras, ceci va de paire!</p>
<h3>Comment réussir sa prise de masse ?</h3>
        <img src="{{ asset('images/infomuscle1.jpg') }}" class="img-article1" alt="...">
        <h3>Faites de la musculation</h3>
        <p>En prise de masse, il est impératif de faire de la musculation avec charge. Il faut déchirer les fibres musculaires et la seule façon de le faire est de soumettre vos muscles à des forces externes auxquelles ils ne sont pas habitués.</p>
        <h3>Comment s’entrainer pour prendre de la masse musculaire?</h3>
        <p>
Quelque soit votre objectif, c’est à dire prendre de la masse pour l’esthétisme, pour votre santé ou pour plus de force, il existe des points communs dans l’entrainement que je vais vous présenter. Dans votre entrainement, vous allez pouvoir faire varier la fréquence de vos entrainements, le volume de votre entrainement, l’ordre de vos exercices et le repos entre chaque série d’exercices.</p>
      
<h3>Fréquence de vos entrainements!</h3>
<p>Pour prendre de la masse musculaire, il est plus efficace de travailler chaque groupe musculaire 2 à 3 fois par semaine. Il n’y a pas de réelles différence entre 2 séances par semaine ou 3 par semaines.

Pour prendre de la force, il est plus efficace de passer à 3 séances par semaine et par groupe musculaire.

Dans tous les cas, il est préférable de fonctionner par bloc d’entrainement et ne pas enchaîner les semaines avec une fréquence d’entrainement trop élevée. Enchaînez par exemple 4 à 6 semaines avec une fréquence élevée (2 à 3 par semaine) puis 2 semaines avec une fréquence faible qu’à votre habitude.

Ensuite il faut s’intéresser au volume de votre entrainement, c’est à dire combien de séries et de répétitions vous allez pouvoir faire.</p>
<h3>Volume de votre entrainement :</h3>
<p>Là aussi, cela dépend de vos objectifs, mais dans tous les cas, la variété est la clé.

Pour prendre de la masse musculaire rapidement, il faut privilégier le volume. Cela signifie qu’il faut préférer plus de séries avec plus de répétitions.

Un volume élevé (6-12 répétitions, 3 à 6 séries) est idéal pour créer une plus grande hypertrophie pour les deux raisons suivantes : La charge de travail plus élevée est plus efficace pour créer des microtraumatismes en raison du temps supplémentaire sous tension et du nombre supplémentaire de fibres recrutées (Shinohara et al., 1998, Smith et Rutherford, 1995, Moss et al, 1997).

Des programmes avec volume et fréquence élevés  sont plus efficaces pour augmenter la production naturelle de testostérone et d’hormone de croissance (Kraemer et al, 1991, Kraemer et al 1990).

Pour prendre de la force, il est conseillé de raccourcir le nombre de répétitions, mais de conserver le nombre de séries pour ne pas diminuer l’effet “hypertrophie”. Ce qui peut donner quelque chose comme 5 séries de 3 à 6 répétitions.

Dans les deux cas, il faut aussi fonctionner par bloc et varier régulièrement. En effet, le muscle s’adapte et vous allez finir par stagner et ne plus progresser. Il faut donc changer de stratégie. Vous pouvez donc faire 4 à 6 semaines avec un haut volume puis 2 semaines avec moins de volume.

Vous pouvez également fonctionner selon la méthode 2:1. Vous faites, pour chaque groupe musculaire, 2 séances “hypertrophie” (5 séries de 10 par exemple) puis 1 séance “force” (4 séries de 5 par exemple). Et vous enchainez ce protocole. Cela évite de compter les semaines !

Dans les deux situations, vous devez régulièrement aller jusqu’à l’échec musculaire. Pourquoi ? Parce que c’est là qu’il existe le plus de dommages sur les fibres musculaires. Et qui dit micro lésions dit reconstruction par la suite !

Pour pouvoir garder votre volume, allez à l’échec à la dernière série est une bonne stratégie, car vous n’avez pas besoin de le faire à chaque série, ce n’est pas plus efficace.</p>
    
<h3> L’ordre des exercices</h3>
<img src="{{ asset('images/infomuscle.jpg') }}" class="img-article1" alt="...">

<p>Ceci va dépendre de votre objectif. Si vous souhaitez développer plus une partie du corps ou un muscle plus qu’un autre, je vous conseille de commencer par votre objectif en début de séance. Vous avez plus d’énergie, vous le travaillerez mieux.

Gardez pour la fin de votre séance les muscles qui ne sont pas vos objectifs actuels. En effet, avec la fatigue, vous êtes moins efficace et vous ferez moins de répétitions.

Important : Par contre, vous devez toujours travailler l’ensemble de votre corps. Si vous oubliez cela, vous allez créer de gros déséquilibres qui vont vous conduire à la blessure. Et qui dit blessure dit plus d’entrainement donc plus de prise de masse musculaire les amis ! </p>
<h3>Combien de temps de repos entre chaque séries  ?</h3>
<p>Les temps de repos longs (entre 2 et 3 minutes) sont conseillés lorsque vous souhaitez prendre le masse, mais aussi de la force. En effet, si vous raccourcissez le repos, vous ferez moins de séries et ou moins de répétitions. Et comme nous venons de le voir, un volume important est plus efficace pour développer vos muscles.

Donc en conclusion, récupérez assez (entre 2 à 3 minutes pour être capable de maintenir votre volume important !<p>
<h3>Combien de temps de repos entre chaque séance ?</h3>
<p>C’est l’une des erreurs les plus communes. Le plupart des personnes ne laissent pas assez de temps aux muscles pour récupérer et surtout se reconstruire. Lorsque vous vous entrainez correctement, vous détruisez quelque peu vos fibres musculaires. Par la suite, votre corps profite du repos pour les reconstruire et les rendre plus fortes. Si vous ne lui laissez pas le temps de construire du muscle, vous perdez votre temps !

La clé c’est de compter environ 48 heures de repos entre chaque groupe musculaire travaillé. Si vous renforcez votre dos le lundi, vous pouvez donc refaire une séance le jeudi puis le dimanche !

Par contre, vous pouvez faire des exercices de récupération entre chaque séances. Pour cela, vous faites un seul exercice, avec 25 à 30 répétitions, sans soulever lourd et sans arriver à l’échec. Cela améliore l’afflux sanguin. Cela équivaut à de la récupération active.</p>

<h3>Faut-il faire des exercices muscle par muscle et des mouvements complets ?</h3>
<p>Votre corps est conçu pour faire des mouvements complexes qui requiert le recrutement de plusieurs groupes musculaires par chaîne. Pour prendre de la masse musculaire, il est plus efficace de faire des exercices complets plutôt que d’isoler un muscle.

Cependant, par souci d’esthétisme, vous pouvez finir votre séance en isolant certains muscles pour les fatiguer encore plus. Les biceps chez l’homme, les triceps ou les fessiers chez les femmes.

Vous pouvez aussi, à l’inverse, les travailler en préfatigue. Par exemple, si vos triceps ont du mal à se développer, vous commencez par des exercices faisant seulement travailler les triceps (avec des poids). Puis, vous enchainez avec les mouvements complets comme le développé couché, les pompes, les dips…

Enfin, vous devez travailler votre muscle dans toute l’amplitude de son mouvement et non pas vous limiter dans l’amplitude. La seule raison qui peut vous pousser à faire des amplitudes faibles, c’est pour l’hypertrophie. C’est ce qui est recherché par les bodybuilders qui cherchent à faire gonfler au maximum la taille du muscle. Mais cet effet n’est que temporaire et le lendemain tout est à refaire…

Plus important que l’esthétisme, pour assurer l’équilibre de corps, je vous conseille de travailler certains muscles de façons isolés. C’est le cas des muscles de la coiffe des rotateurs de votre épaule. Beaucoup de personnes se blessent aux épaules car ils font travailler essentiellement les rotateurs internes de l’épaule (les grands muscles comme les pectoraux et le grand dorsal) et jamais les rotateurs externes (les petits muscles en arrière des épaules).<p>
    </div>
    <nav aria-label="navigation">
  <ul class="pager">
    <li><a href="#" title="Haut"><i class="bi bi-arrow-up-circle"  style="font-size: 2rem; color: orange;"></i></a></li>
    <li><a href="{{ path('show_actualite') }}" title="Précédent"><i class="bi bi-arrow-left-circle" style="font-size: 2rem; color: orange;"></i></a></li>
  </ul>
</nav>
  </div>
{% endblock %}