{% extends 'base.html.twig' %}

{% block title %}Article4{% endblock %}

{% block body %}

<div class="row">
        <div class="col-8 mx-auto p-4">
        <h1 class="section_subtitle titre_presetation1 fs-1  ">Les avantages d'un coach sportif personnel</h1>
<br>
<p>L’accompagnement par un personal trainer offre de nombreux avantages pour une bonne pratique sportive, en voici les principaux :

 </p>
<p>* Programmes personnalisés : chaque sportif a ses propres objectifs, ses anciennes blessures éventuelles, sa condition physique de départ… Le programme d’entraînement doit donc être adapté à chacun. Le personal trainer définira avec toi l’ensemble du programme d’entraînement en prenant en compte les éléments suivants : résultats escomptés, contraintes professionnelles et personnelles… Ton programme sera 100% personnalisé et tu sauras quoi faire, comment faire et quand le faire !</p>
<br>
<p>* Motivation assurée : un personal trainer aide à tenir ton programme d’entraînement, même quand tu te sens un peu fatigué ou que tu peux être tenté par un apéro après le boulot plutôt que par une séance de sport… Tu vas vouloir honorer le rendez-vous avec ton coach (en plus, tu as payé pour ça). Au début, l’entraînement peut être perçu comme une contrainte mais très vite, les séances vont s’intégrer à ta routine pour t’apporter bien-être physique et mental. De quoi rester motivé !</p>
<br>
<p>* Meilleure hygiène de vie : ton coach sportif peut t’aider à avoir une alimentation saine et adaptée à tes objectifs sportifs. Il peut aussi te conseiller un diététicien </p>
<br>
<p>* si tu as besoin d’un programme nutritionnel spécifique. Ton personal trainer t’apprendra aussi à t’accorder des phases de récupération efficaces, essentielles pour ton corps et pour atteindre ton objectif sans blessure.</p>
<br>
<p>* Une personne attentive et de confiance : puisque les entraînements sont réguliers, ton personal trainer te connaîtra de mieux en mieux, il adaptera par exemple les sessions d’entraînement selon qu’il sente que tu es en pleine forme ou au contraire complètement KO. Grâce à ton coach sportif personnel,  tu vas prendre confiance en toi et te rendre compte que tu peux lui faire confiance pour atteindre tes objectifs. Une bonne connexion entre le coach et l’élève est essentielle.</p>
<h3></h3>
     
<img src="{{ asset('images/article3.jpg') }}" class="img-article2" alt="...">


    </div>
    <nav aria-label="navigation">
  <ul class="pager">
    <li><a href="#" title="Haut"><i class="bi bi-arrow-up-circle"  style="font-size: 2rem; color: orange;"></i></a></li>
    <li><a href="{{ path('show_actualite') }}" title="Précédent"><i class="bi bi-arrow-left-circle" style="font-size: 2rem; color: orange;"></i></a></li>
  </ul>
</nav>
</div>
{% endblock %}

