{% extends 'base.html.twig' %}

{% block title %}{% trans %}Qui sommes-nous{% endtrans %} ? | SallePrivée{% endblock %}


{% block body %}

    <h1 class="col-8 text-center mx-auto my-5">{% trans %}Découvrez notre fabuleux HouseHotel{% endtrans %}</h1>
    <div class="mx-auto text-center">
    <img  height="300vw" src="https://cdn.pixabay.com/photo/2021/02/03/00/10/receptionists-5975962_1280.jpg" alt="House Hotel Acceuil">
    </div>
    <p class="col-8 text-center my-4 mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas odit hic quisquam nihil enim debitis error incidunt quis soluta omnis illo vitae, repudiandae aliquid, tenetur maxime alias mollitia atque dolorum?</p>

    <h3 class="lien-hotel text-center my-2">"{% trans %}Par Excellence{% endtrans %}"</h3>

    <p class="col-8 text-center mx-auto my-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic in perferendis quasi modi officia possimus fuga nemo omnis qui veritatis? Facere possimus voluptatem reprehenderit repudiandae omnis, nulla magni mollitia dolores.
    Officia fuga nisi quos explicabo nemo quam numquam culpa voluptas hic, cumque saepe rerum eos eligendi! Molestiae commodi consequatur quod beatae facilis deserunt quas mollitia architecto magnam inventore, aperiam repellendus.
    Id consequatur repellat repellendus asperiores possimus dolores eum vitae minima, ratione dolorum et ea ducimus alias debitis harum quaerat? Reprehenderit ut officiis excepturi dignissimos tempora culpa et facilis sint totam.
    Suscipit asperiores inventore dolor tenetur rerum, vero recusandae itaque aliquid nesciunt dicta perferendis est consectetur earum eveniet ducimus illum culpa mollitia repellendus fugiat. Animi praesentium odit incidunt, assumenda ipsum maxime!</p>



{% endblock %}