{% extends 'base.html.twig' %}

{% block title %} Qui somme Nous | Sallesport! {% endblock %}

{% block body %}
<div class="row">
        <div class="col-8 mx-auto p-4">
        <h1 class="section_subtitle titre_presetation1 fs-1 ">Bienvenue dans Notre Salle</h1>
<br>
<p class="presentation_text fs-5 p-4">La salle est  Situé dans une zones stratégiques vu sur mer.<br>
      Situées dans un lieux calmes, la salle t'assure la tranquillité et l'intimité que tu ne trouves pas dans les grandes salles habituelles.<br>
      
      Devant toutes nos salles de sport, vous pourrez retrouver un parking pour garer vos voitures durant vos séances.<br> En pleine autonomie, vous serez donc dans une salle privée pour pratiquer votre séance tranquillement. <br>
      
      Un code vous sera alors donné afin d'accéder à la salle de sport.<br> Que vous soyez particulier ou professionnel, nos salles sont accessibles pour tout le monde !<br>
      
      Situées dans des zones dynamiques à Marseille,  vous pouvez retrouver un tas de commerce autour de nos salles de musculation à la suite de votre séance.<br>SALLE DE 30M² - IDÉAL 2 PERSONNES

      CLIMATISATION, VESTIAIRES, FRIGO, WIFI, TV, ENCEINTE BLUETOOTH
      
      </p>


<h2 class="section_title-border titre_presetation2 fs-4 p-2">Comment ça marche ? </h2>
      <p class="presentation_text fs-5">         
        N'hésitez pas à consulter notre guide si vous souhaitez comprendre<br> en détails comment marche notre service innovant de salle de sport privée.<br> 
        
        Quelles sont les horaires ? <br>
        C'est une salle de sport 24/24 !</p>
        <h2 class="section_title-border titre_presetation2 p-2">Je veux tester !</h2>
        <p class="presentation_text fs-5"> Réserve dès maintenant ces une salle  entièrement<br> équipé et fait ton sport seul ou entre amis. Tu trouveras sur place tout le matériel <br>de qualité pour atteindre tes objectifs.</p>


        

    </div>
    <nav aria-label="navigation">
  <ul class="pager">
    <li><a href="#" title="Haut"><i class="bi bi-arrow-up-circle"  style="font-size: 2rem; color: orange;"></i></a></li>
    <li><a href="{{ path('show_actualite') }}" title="Précédent"><i class="bi bi-arrow-left-circle" style="font-size: 2rem; color: orange;"></i></a></li>
  </ul>
</nav>
</div>
<br>
<br>
<br>
{% endblock %}
