{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container text-white p-4 px-2">
    {% for message in app.flashes('success') %}
    
    <div class="alert alert-warning mt-4">
        {{ message }}
    </div>
    {% endfor %}    
        
<h1 class="section_subtitle titre_presetation1 fs-1 ">Formulaire de contact</h1>

{{ form(form) }}
<br>
</div>
{% endblock %}
