{% extends 'base.html.twig' %}

{% block title %}Inscription | Salle de sport{% endblock %}

{% block body %}

    <h1 class="text-center my-4  section_subtitle titre_presetation1 fs-1">Inscrivez-vous !</h1>

    <div class="row text-white">
        <div class="col-4 mx-auto">

            {{ form_start(form) }}

            <div class="row">
                <div class="col-6">{{ form_row(form.firstname) }}</div>
                <div class="col-6">{{ form_row(form.lastname) }}</div>
            </div>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}